html {
    margin: 30px 50px;
    /* margin-bottom: 45px; */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #1769a2;
    font-family: "Monda", sans-serif;
}

.dropBox {
    background-color: #1769a2;
    color: #fff;
}

.icon-container {
    display: flex;
    /* width: 100%; */
}

.icon-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    margin: 0;
}

#checkbox {
    display: flex;
    align-items: center;
}

#pCheckbox {
    padding-left: 10px;
}

#date {
    font-weight: bolder;
}

#continue {
    font-weight: bold;
    padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
    html {
        margin: 20px 15px;
        padding-bottom: 25px;
    }

    .dropBox {
        width: 75%;
        height: 50px;
        font-size: 25px;
    }

    #pCheckbox {
        font-size: 1.5em;
    }

    #date {
        font-size: 1.5em;
    }

    #iAttest {
        width: 75px;
        height: 75px;
    }

    #continue {
        font-size: 1.5em;
        color: #262626;
    }
}
